<h1 mat-dialog-title>Podsumowanie zamówienia</h1>
<form #f="ngForm" (ngSubmit)="submitOrder(f)">
<div mat-dialog-content>

  <mat-form-field appearance="legacy">
    <mat-label>Imię i Nazwisko</mat-label>
    <input matInput name="name" required ngModel>
  </mat-form-field>
  <br>
  <mat-form-field appearance="legacy">
    <mat-label>Nr telefonu</mat-label>
    <input matInput name="phone" required ngModel>
  </mat-form-field>
  <br>
  <mat-form-field appearance="legacy">
    <mat-label>E-mail</mat-label>
    <input matInput name="email" required ngModel>
  </mat-form-field>
  <br>
  <mat-form-field appearance="legacy">
    <mat-label>Numer mieszkania</mat-label>
    <input matInput name="flat" required ngModel>
  </mat-form-field>
  <br>
  <mat-form-field appearance="legacy">
    <mat-label>Piętro</mat-label>
    <input matInput name="floor" ngModel>
  </mat-form-field>
  <br>
  <mat-form-field appearance="Legacy">
    <mat-label>Metoda płatności</mat-label>
    <mat-select required name="payment" ngModel>
      <mat-option value="Gotówka">Gotówka</mat-option>
      <mat-option value="Karta">Karta</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="legacy">
    <mat-label>Dodatkowy komentarz</mat-label>
    <textarea matInput name="comment" ngModel></textarea>
  </mat-form-field>
  <br>
  <mat-form-field appearance="legacy" class="code-input">
    <mat-label>Kod zniżkowy:</mat-label>
    <input matInput #code name="code" ngModel>

  </mat-form-field>
  <button type="button" mat-raised-button color="accent" (click)="checkCode(code.value)" class="code-btn">Aktywuj kod</button>
  <div style="margin-left: 1em">{{codeMessage}}</div>
  <mat-checkbox required ngModel name="rodo" #tooltip="matTooltip"
  matTooltip="Wyrażam zgodę na przetwarzanie moich danych osobowych w celu realizacji zamówienia zgodnie z art 6 ust 1 lit. a Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych)."
  [matTooltipPosition]="position.value">
   Wyrażam zgodę na przetwarzanie moich danych osobowych
  </mat-checkbox>
</div>
<div mat-dialog-actions>
  <button  style="margin-right: 1em" mat-raised-button [disabled]="f.invalid" type="submit" [routerLink]="['/orderstatus/', generatedId]">Złóż zamówienie</button>
  <span>Łączna kwota: {{fullPrice}} zł</span>
  <span *ngIf="showGoodCoupon === true" style="margin-left: 1em">Po zniżce: {{priceAfterCoupon}}zł</span>
</div>
</form>
