mat-form-field {
  width: 100%;
}

.code-input {
  width: 100%;
}

.code-btn {
  float: right;
}
::ng-deep .mat-checkbox-layout {
  white-space: normal !important;
}

@media screen and (min-width: 1100px){
  mat-form-field {
    width: 600px;
  }
}

@media screen and (min-width: 1500px){
  mat-form-field {
    width: 1000px;
  }
}

@media only screen and (hover: none) and (pointer: coarse){
  mat-form-field {
    width: 100%;
  }
}
