.shopping-cart{
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100vh;
  border: 1px solid white;
  background-color: white;
}

.order-item{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  align-items: center;
  background-color: white;
}

.order-item-name {
  grid-area: 1 / 1 / 2 / 4;
  max-height: 1em;
}

.order-item-size {
  grid-area: 1 / 4 / 2 / 5;
}

.order-item-quantity {
  grid-area: 1 / 5 / 2 / 6;
  display: grid;
}

.order-item-price {
  grid-area: 1 / 6 / 2 / 7;
}

.order-item-info {
  grid-area: 1 / 1 / 2 / 7;
}

.order-item-toppings {
  grid-area: 2 / 1 / 3 / 5;
}

mat-form-field {
  width: 60px;
  height: 20px;
  justify-items: center;
  align-items: center;
}
