<div class="shopping-cart">
  <span *ngFor="let item of cart">
    <div class="order-item">
      <div class="order-item-name">{{item.name}}</div>
      <div class="order-item-size">{{item.size}}</div>
      <div class="order-item-quantity">
        - 1 +
      </div>
      <div class="order-item-price">{{item.price}}</div>
      <div class="order-item-toppings">
        <h6>Dodatki:</h6>
        <span>Pieczarki</span>
        <span>Chorizo</span>
        <span>Szynka parmeńska</span>
      </div>

    </div>
    <mat-divider></mat-divider>
  </span>
</div>
