<p>
<mat-form-field appearance="outline">
  <mat-label>Imię i Nazwisko</mat-label>
  <input matInput>
</mat-form-field>
</p>
<p>
<mat-form-field appearance="outline">
  <mat-label>Adres</mat-label>
  <input matInput>
</mat-form-field>
</p>
<p>
<mat-form-field appearance="outline">
  <mat-label>Kod pocztowy</mat-label>
  <input matInput>
</mat-form-field>
</p>
<p>
<mat-form-field appearance="outline">
  <mat-label>Numer telefonu</mat-label>
  <input matInput>
</mat-form-field>
</p>
<p>
<mat-form-field appearance="outline">
  <mat-label>E-mail</mat-label>
  <input matInput>
</mat-form-field>
</p>

<button mat-raised-button>ROZPOCZNIJ ZAMÓWIENIE</button>
