<h1 mat-dialog-title>Podaj adres</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Twój adres</mat-label>
    <input #googleAddress type="text" matInput placeholder="np. Długa 28" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)">
  </mat-form-field>
  <p *ngIf="distance >= 0 && distance <= 4">Minimalna kwota zamówienia: {{minCost}} zł</p>
  <p *ngIf="distance >= 4">Jesteś poza strefą dowozu</p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="addAddress(googleAddress.value)" disabled={{!canOrder}} >Zatwierdź adres</button>
</div>


