::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: black !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: black !important;
}

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: black !important;;
}

mat-form-field {
  width: 100%;
}


@media screen and (min-width: 1100px){
  mat-form-field {
    width: 600px;
  }
}

@media screen and (min-width: 1500px){
  mat-form-field {
    width: 1000px;
  }
}

@media only screen and (hover: none) and (pointer: coarse){
  mat-form-field {
    width: 100%;
  }
}
